.title {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

.tasks {
  width: 300px;
  padding: 0;
  margin: 20px auto 0;
  list-style-type: none;
  text-align: left;
}

.tasks > li {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.deleteBtn {
  float: right;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  width: 640px;
  height: 640px;
  background-color: green;
  font-size: 0;
}
.changed-turn {
  width: 300px;
  height: 300px;
  background-color: blueviolet;
  color: aqua;
}

.restart-button {
  width: 320px;
  height: 50px;
  font-size: 30px;
  background-color: beige;
  color: red;
  border: outset 5px;
  text-align: center;
}

.restart-button:active {
  border: inset 5px;
}

.open {
  cursor: pointer;
}
#pop-up {
  display: none;
}
.overlay {
  display: none;
}
#pop-up:checked + .overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
}
.window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  max-width: 360px;
  padding: 20px;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  align-items: center;
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}
